# Ignore node_modules in any subfolder
node_modules/

# Ignore local environment files
.env
.env.local
*.env

# Ignore build artifacts
dist/
build/
.tempmediaStorage/

# Ignore uploads
uploads/

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# system files
.DS_Store
Thumbs.db
