# Ignore node_modules in any subfolder
node_modules/

# Ignore local environment files
.env
.env.local
*.env

# Ignore build artifacts
dist/
build/
.tempmediaStorage/

# Ignore uploads
uploads/

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore redundant SQL subfolders in code directory
code/code_demo/
code/code_no_comments/
code/codechuong3/
code/test/

# system files
.DS_Store
Thumbs.db
